<!--
  References:
    - https://css-tricks.com/snippets/css/a-guide-to-flexbox/
    - http://www.youcandealwithit.com/borrowers/calculators-and-resources/calculators/budget-calculator.shtml
    - https://getbootstrap.com/docs/4.0/components/navbar/
    - http://ejs.co
//-->

<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include partials/head %>

    <!-- Stuff we actually wrote -->
    <title>Where'd It Go?!</title>
    <link rel="stylesheet" href="../css/history.css">
  </head>

  <body id="body-history">
    <!-- Bootstrap navbar -->
    <%- include partials/navbar %>

    <div id="hdrs">
      <h1 align="center" style="font-family:georgia;"><strong>Your Budget History</strong></h1>
    </div>

    <div class="container center-block">
      <!-- Loop through dates (create a <table> for each) -->
      <% for(var i=22; i < data.length; i+=22) { %>
        <div class="log">
         <div id="hdr2">
           <h2 style="color: bisque;"><i><%= data[i] %></i></h2>
          </div>
         <div class="table-responsive">
          <table style="background-color: rgba(127, 255, 212, 0.486);"  class="table table-bordered;">
            <!-- Header row -->
            <tr id="table-headers", style="background-color:rgba(255, 255, 255, 0.459);">
              <th></th>
              <th>Mortgage/Rent</th>
              <th>Utilities</th>
              <th>Credit Cards</th>
              <th>Auto Insurance</th>
              <th>Internet Services</th>
              <th>Food</th>
              <th>Clothing</th>
              <th>Travel</th>
              <th>Miscellaneous</th>
              <th bgcolor= "#033738"><font color="#fff">Total</th>
            </tr>
          
            <!-- Planned row -->
            <tr style="background-color: rgb(194, 243, 227);", class="active">
              <td><strong>Planned</strong></td>

              <!-- Loop through data for given date (starts 21 indices earlier) -->
              <% for(var j=i-21; j < i-11; j++) { %>
                <td>$<%= data[j] %></td>
              <% } %>
            </tr>

            <!-- Actual row -->
            <tr class="active" style="background-color: rgb(87, 241, 190);">
              <td><strong>Actual</strong></td>

              <!-- Loop through data for given date (starts 11 indices earlier) -->
              <% for(var j=i-11; j < i-1; j++) { %>
                <td>$<%= data[j] %></td>
              <% } %>
            </tr>

            <!-- Difference row -->
            <tr style="background-color: rgb(8, 197, 134);">
              <td><strong>Difference</strong></td>

              <!-- Loop through data for given date -->
              <% for(var j=i-21; j < i-11; j++) { %>
                <% if(data[j]-data[j+10] < 0) { %>
                  <td style="color: rgb(248, 8, 8);">-$<%= (data[j]-data[j+10]) * -1 %></td>
                <% } else { %>
                  <td style="color: rgb(5, 41, 5);">$<%= data[j]-data[j+10] %></td>
                <% } %>
              <% } %>
            </tr>
          </table>
         </div>
        </div>
      <% } %>
    </div>
  </body>
</html>