<!--
  References:
    - https://css-tricks.com/snippets/css/a-guide-to-flexbox/
    - http://www.youcandealwithit.com/borrowers/calculators-and-resources/calculators/budget-calculator.shtml
    - https://getbootstrap.com/docs/4.0/components/navbar/
    - http://ejs.co
    - https://canvasjs.com/docs/charts/chart-types/html5-doughnut-chart/
//-->

<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include partials/head %>
    <!--Pie Chart-->
    var rentInt = $<%= rent %>;
    <script type="text/javascript">
      window.onload = function () {
        var chart = new CanvasJS.Chart("chartContainer", {
          backgroundColor: "rgba(176, 224, 230, .6)",
          title:{ 
            text: "Breakdown:",
            fontFamily: "georgia",
            fontWeight: "bolder",
            fontSize: 25
          },
          data: [
          {
           type: "doughnut",
           dataPoints: [
           {  y: 5, indexLabel: "Mortgage/Rent", color: "LightPink" },
           {  y: 5, indexLabel: "Utilities", color: "Aqua"},
           {  y: 5, indexLabel: "Credit Cards", color: "#66a3ff" },
           {  y: 5, indexLabel: "Auto Insurance", color: "Crimson"},
           {  y: 5, indexLabel: "Internet Services", color: "#ffff66" },
           {  y: 5, indexLabel: "Food", color: "DarkOrchid"},
           {  y: 30, indexLabel: "Clothing", color: "#ccb3ff"},
           {  y: 40, indexLabel: "Travel", color: "Teal"}
           ]
         }
         ]
       });
    
        chart.render();
      }
      </script>
      <script type="text/javascript" src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>

    <!-- Stuff we actually wrote -->
    <title>Where'd It Go?!</title>
    <link rel="stylesheet" href="../css/results.css">
  </head>

  <body id="body-main" >
    <!-- Bootstrap navbar -->
    <%- include partials/navbar %>

    <div id="hdr">
      <h1 align="center" style="font-family:georgia;"><strong>Here's where it went...</strong></h1>
    </div>

    <div class="container center-block">
      <!-- Budget results -->
      <div id="page2-div">
        <!-- Budget -->
        <div class="form-group">
          <p><i><strong>Your budget totaled to $<%= budget %></strong></i></p>
        </div>

        <!-- What you actually spent -->
        <div class="form-group">
          <p><i><strong>You actually spent $<%= spent %></strong></i></p>
        </div>

        <!-- Over or under -->
        <div class="form-group">
          <p><i><strong>You have <%= diff %> remaining</strong></i></p>
          <p><strong><%= msg %></strong></p>
        </div>

        <!-- Again -->
        <form id="options-form" method="POST">
          <input type="submit" class="input-options" name="again" value="Calculate another budget">
          <input type="submit" class="input-options" name="history" value="View history">
        </form>
        <p> </p>
        <div id="chartContainer" style="height: 300px; width: 100%;">
        </div>
      </div>
      
    </div>  
    
  </body>
</html>
