<!--
  References:
    - https://css-tricks.com/snippets/css/a-guide-to-flexbox/
    - http://www.youcandealwithit.com/borrowers/calculators-and-resources/calculators/budget-calculator.shtml
    - https://getbootstrap.com/docs/4.0/components/navbar/
    - http://ejs.co
//-->

<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" id="bg">

    <!-- Stuff we actually wrote -->
    <title>Where'd It Go?!</title>
    <!--<link rel="stylesheet" href="main.css"-->
  </head>

  <body id="body-main" background = "https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/QwIr88a/epic-aerial-flight-through-mountain-clouds-towards-sunrise-beautiful-morning-peaks-inspirational-motivational-nature-background-uhd-4k_edmp6fynl__F0000.png">
    <!-- Bootstrap navbar -->
    <%- include partials/navbar %>

    <h1 align="center" style="font-family:georgia;"><strong>Here's where it went...</strong></h1>
    <h2 align="center" style="font-family:georgia;"><i>You spent a total of $<%= spent %></i></h2>

    <div class="container center-block">
      <!-- Budget results -->
      <div id="page2-div" method="POST">
          <!-- Budget -->
          <div class="form-group">
            <p><i>Your budget was $<%= budget %></i></p>
          </div>

          <!-- What you actually spent -->
          <div class="form-group">
            <p><i>You actually spent $<%= spent %></i></p>
          </div>

          <!-- Over or under -->
          <div class="form-group">
            <p><i>You have <%= diff %> remaining</i></p>
            <p><%= msg %></p>
          </div>
        </div>
    </div>  
  </body>
</html>
