<!--
  References:
    - https://css-tricks.com/snippets/css/a-guide-to-flexbox/
    - http://www.youcandealwithit.com/borrowers/calculators-and-resources/calculators/budget-calculator.shtml
    - https://getbootstrap.com/docs/4.0/components/navbar/
    - http://ejs.co
    - https://canvasjs.com/docs/charts/chart-types/html5-doughnut-chart/
    - https://stackoverflow.com/questions/16098397/pass-variables-to-javascript-in-expressjs
    - http://www.sanwebcorner.com/2016/07/export-html-page-into-pdf-file-using.html
    - https://stackoverflow.com/questions/19786113/export-html-page-to-pdf-on-user-click-using-javascript
    //-->

<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include partials/head %>
    
    <!-- Script to get ejs values -->
    <script>
      function  getEJS(input) {
        let e = document.createElement('div');

        // Set content of the div to the EJS syntax
        e.innerHTML = input;

        // When you get the innerHTML, it will already have been converted to the actual value
        return Number(e.childNodes.length === 0 ? "0" : e.childNodes[0].nodeValue);
      }
    </script>

    <!-- Pie Chart -->
    <script type="text/javascript">
      // Get EJS values
      const rent =  getEJS("<%= rent %>");
      const utilities =  getEJS("<%= utilities %>");
      const cards =  getEJS("<%= cards %>");
      const auto =  getEJS("<%= auto %>");
      const internet =  getEJS("<%= internet %>");
      const food =  getEJS("<%= food %>");
      const clothing =  getEJS("<%= clothing %>");
      const travel =  getEJS("<%= travel %>");
      const misc =  getEJS("<%= misc %>");

      // Create the chart with the decoded data
      window.onload = function () {
        var chart = new CanvasJS.Chart("chartContainer", {
          backgroundColor: "rgba(176, 224, 230, .6)",
          title:{ 
            text: "Breakdown:",
            fontFamily: "georgia",
            fontWeight: "bolder",
            fontSize: 25
          },
          data: [{
            type: "doughnut",
            dataPoints: [
            { y: rent, indexLabel: "Mortgage/Rent", color: "LightPink" },
            { y: utilities, indexLabel: "Utilities", color: "Aqua" },
            { y: cards, indexLabel: "Credit Cards", color: "#66a3ff" },
            { y: auto, indexLabel: "Auto Insurance", color: "Crimson" },
            { y: internet, indexLabel: "Internet Services", color: "#ffff66" },
            { y: food, indexLabel: "Food", color: "DarkOrchid" },
            { y: clothing, indexLabel: "Clothing", color: "#ccb3ff" },
            { y: travel, indexLabel: "Travel", color: "Teal" },
            { y: misc, indexLabel: "Miscellaneous", color: "Black" }
            ]
          }]
        });

        chart.render();
      }
    </script>
    <script type="text/javascript" src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>

    <!-- Medthod to pring the page as a PDF -->
    <script type="text/javascript">
      function printPDF() {
        window.print();
      }
    </script>

    <!-- Stuff we actually wrote -->
    <title>Where'd It Go?!</title>
    <link rel="stylesheet" href="../css/results.css">
  </head>

  <body id="body-main" >
    <!-- Bootstrap navbar -->
    <%- include partials/navbar %>

    <div id="hdr">
      <h1 align="center" style="font-family:georgia;"><strong>Here's where it went...</strong></h1>
    </div>

    <div class="container center-block">
      <!-- Budget results -->
      <div id="page2-div">
        <div id="main">
          <!-- Budget -->
          <div class="form-group">
            <h3>Your <em> budget</em> totaled to <strong>$<%= budget %></strong></h3>
          </div>

          <!-- What you actually spent -->
          <div class="form-group">
            <h3>You <em>actually spent</em> <strong>$<%= spent %></strong></h3>
          </div>

          <!-- Over or under -->
          <div class="form-group">
            <h3>You have <strong><%= diff %></strong> remaining</h3>
            <h3><strong><%= msg %></strong></h3>
          </div>
        </div>

        <!-- Doughnut chart -->
        <div id="chartContainer" style="height: 300px; width: 100%;"></div>
        <p></p>

        <!-- Again -->
        <form id="options-form" method="POST">
          <input type="submit" class="input-options" name="again" value="Calculate another budget">
          <input type="submit" class="input-options" name="history" value="View history">
          <p></p>
        </form>
       
        <!-- Download button -->
        <button id="pdfview" onclick="printPDF()">Download PDF</button>           
      </div>
    </div>
  </body>
</html>
